<%- include("templates/cabecera", {tituloWeb: "Agregar Activo" }) %>

   <body>
      <%- include("templates/navbar") %>
         <h1 class="text-center py-5">
            <%= titulo %>
         </h1>
         <div class="container d-flex justify-content-center">

            <form action="/inventario" class="card p-3" style="width: 18rem;" method="post">
               <div class="mb-3">
                  <label for="id" class="form-label">ID</label>
                  <input type="text" class="form-control" id="id" name="id" required>
               </div>
               <div class="mb-3">
                  <label for="linea" class="form-label">Linea</label>
                  <input type="text" class="form-control" id="linea" name="linea" required>
               </div>
               <div class="mb-3">
                  <label for="longitud" class="form-label">Longitud [m]</label>
                  <input type="text" class="form-control" id="longitud" name="longitud" required>
               </div>
               <div class="mb-3">
                  <label for="diametro" class="form-label">Diametro [m]</label>
                  <input type="text" class="form-control" id="diametro" name="diametro" required>
               </div>
               <div class="mb-3">
                  <label for="fecha" class="form-label">Fecha</label>
                  <input type="date" class="form-control" id="fecha" name="fecha" required>
               </div>
               <button type="submit" class="btn btn-dark">Ingresar</button>
            </form>
         </div>


         <%- include("templates/footer") %>