<%- include("templates/cabecera", {tituloWeb: "Inicio" }) %>

   <body>
      <%- include("templates/navbar") %>
         <h1 style="position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%)">
            <%= titulo %>
         </h1>

         <%- include("templates/footer") %>