<%- include("templates/cabecera", {tituloWeb: "Inventario" }) %>

   <body>
      <%- include("templates/navbar") %>

         <div class="container">
            <h1 class="text-center pt-5">
               <%= titulo %>
            </h1>
            <table class="table mt-5 text-center">
               <thead>
                  <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Linea</th>
                     <th scope="col">Longitud [m]</th>
                     <th scope="col">Diametro [m]</th>
                     <th scope="col">Fecha</th>
                  </tr>
               </thead>
               <tbody>
                  <% if (activosDB.length> 0) { %>
                     <% activosDB.forEach(activo=> { %>
                        <tr>
                           <th scope="row">
                              <%= activo.id %>
                           </th>
                           <td>
                              <%= activo.linea %>
                           </td>
                           <td>
                              <%= activo.longitud %>
                           </td>
                           <td>
                              <%= activo.diametro %>
                           </td>
                           <td>
                              <%= activo.fecha %>
                           </td>
                        </tr>
                        <% }) %>
                  <% } %>
               </tbody>
            </table>
            <a href="/agregar" class="btn btn-dark">Agregar</a>
         </div>

         <%- include("templates/footer") %>